# NSGA-II baseline on ZDT (high dimensionality)

Updated baseline table with provided NSGA-II and AutoNSGA-II timings/evaluations.

In [1]:
from __future__ import annotations
import pandas as pd
from IPython.display import display

In [2]:

def _record(problem, variables, time_nsga, time_auto, evals_nsga, evals_auto):
    return {
        "Problem": problem,
        "Variables": variables,
        "Time (h) NSGA-II": time_nsga,
        "Time (h) AutoNSGA-II": time_auto,
        "Evaluations NSGA-II": evals_nsga,
        "Evaluations AutoNSGA-II": evals_auto,
        "NSGA-II-Nico": "-",
        "AutoNSGA-II-Nico": "-",
    }


BASELINE_RECORDS = [
    _record("ZDT1", 2_048, 0.13, 0.02, 1_250_500, 182_356),
    _record("ZDT1", 4_096, 0.51, 0.12, 2_906_100, 484_356),
    _record("ZDT1", 8_192, 2.40, 0.50, 6_622_600, 1_039_156),
    _record("ZDT1", 16_384, 11.19, 2.15, 14_741_200, 2_180_656),
    _record("ZDT1", 32_768, None, 9.04, None, 4_605_556),
    _record("ZDT1", 65_356, None, 31.66, None, 9_494_556),
    _record("ZDT1", 131_072, None, 120.02, None, 19_359_356),
    _record("ZDT2", 2_048, 0.14, 0.02, 1_472_800, 164_756),
    _record("ZDT2", 4_096, 0.62, 0.10, 3_433_100, 429_156),
    _record("ZDT2", 8_192, 2.77, 0.49, 7_676_600, 986_556),
    _record("ZDT2", 16_384, 12.30, 2.28, 17_059_600, 2_358_056),
    _record("ZDT2", 32_768, None, 9.28, None, 4_736_056),
    _record("ZDT2", 65_356, None, 39.19, None, 10_081_856),
    _record("ZDT2", 131_072, None, 138.85, None, 21_703_556),
    _record("ZDT3", 2_048, 0.10, 0.03, 1_089_800, 253_356),
    _record("ZDT3", 4_096, 0.47, 0.16, 2_514_200, 610_956),
    _record("ZDT3", 8_192, 2.08, 0.62, 5_463_000, 1_267_656),
    _record("ZDT3", 16_384, 9.18, 2.68, 11_877_500, 2_820_556),
    _record("ZDT3", 32_768, None, 11.39, None, 6_158_256),
    _record("ZDT3", 65_356, None, 40.69, None, 11_912_856),
    _record("ZDT3", 131_072, None, None, None, None),
    _record("ZDT4*", 2_048, None, 2.62, None, 21_746_882),
    _record("ZDT6", 2_048, 0.45, 0.04, 5_401_100, 291_856),
    _record("ZDT6", 4_096, 1.82, 0.16, 11_482_400, 659_956),
    _record("ZDT6", 8_192, 7.16, 0.66, 24_897_300, 1_374_056),
    _record("ZDT6", 16_384, None, 3.08, None, 3_221_156),
    _record("ZDT6", 32_768, None, 15.51, None, 7_941_156),
    _record("ZDT6", 65_356, None, 63.79, None, 17_685_556),
    _record("ZDT6", 131_072, None, None, None, None),
]
baseline_df = pd.DataFrame(BASELINE_RECORDS)
display(baseline_df)

,Problem,Variables,Time (h) NSGA-II,Time (h) AutoNSGA-II,Evaluations NSGA-II,Evaluations AutoNSGA-II,NSGA-II-Nico,AutoNSGA-II-Nico
0,ZDT1,2048,0.13,0.02,1250500.0,182356.0,-,-
1,ZDT1,4096,0.51,0.12,2906100.0,484356.0,-,-
2,ZDT1,8192,2.40,0.50,6622600.0,1039156.0,-,-
3,ZDT1,16384,11.19,2.15,14741200.0,2180656.0,-,-
4,ZDT1,32768,NaN,9.04,NaN,4605556.0,-,-
5,ZDT1,65356,NaN,31.66,NaN,9494556.0,-,-
6,ZDT1,131072,NaN,120.02,NaN,19359356.0,-,-
7,ZDT2,2048,0.14,0.02,1472800.0,164756.0,-,-
8,ZDT2,4096,0.62,0.10,3433100.0,429156.0,-,-
9,ZDT2,8192,2.77,0.49,7676600.0,986556.0,-,-
10,ZDT2,16384,12.30,2.28,17059600.0,2358056.0,-,-
11,ZDT2,32768,NaN,9.28,NaN,4736056.0,-,-
12,ZDT2,65356,NaN,39.19,NaN,10081856.0,-,-
13,ZDT2,131072,NaN,138.85,NaN,21703556.0,-,-
14,ZDT3,2048,0.10,0.03,1089800.0,253356.0,-,-
15,ZDT3,4096,0.47,0.16,2514200.0,610956.0,-,-
16,ZDT3,8192,2.08,0.62,5463000.0,1267656.0,-,-
17,ZDT3,16384,9.18,2.68,11877500.0,2820556.0,-,-
18,ZDT3,32768,NaN,11.39,NaN,6158256.0,-,-
19,ZDT3,65356,NaN,40.69,NaN,11912856.0,-,-
20,ZDT3,131072,NaN,NaN,NaN,NaN,-,-
21,ZDT4*,2048,NaN,2.62,NaN,21746882.0,-,-
22,ZDT6,2048,0.45,0.04,5401100.0,291856.0,-,-
23,ZDT6,4096,1.82,0.16,11482400.0,659956.0,-,-
24,ZDT6,8192,7.16,0.66,24897300.0,1374056.0,-,-
25,ZDT6,16384,NaN,3.08,NaN,3221156.0,-,-
26,ZDT6,32768,NaN,15.51,NaN,7941156.0,-,-
27,ZDT6,65356,NaN,63.79,NaN,17685556.0,-,-
28,ZDT6,131072,NaN,NaN,NaN,NaN,-,-